<table class="table">
    <thead>
        <tr>
            <th></th>
        <th> Book name</th>
        <th> Unit price</th>
        <th> Units in</th>
        </tr>
    </thead> 
    <tbody>
        <tr *ngFor="let tempProduct of products" > 
            <td><img src="{{tempProduct.imageUrl}}" height="80" alt=""></td>
            <td> {{tempProduct.name}}:  </td>
            <td> {{tempProduct.unitPrice | currency:'USD'}}</td>
            <td> {{tempProduct.unitInStock}}</td>
        </tr>
    </tbody>
</table>