<div class="main-content">
    <div class="section-content section-content-p30">
        <h1>{{categoryName}}</h1>
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let tempProduct of products" class="col-md-3">
                   <div class="product-box">
                    <a routerLink="/products/{{tempProduct.id}}"><img src="{{tempProduct.imageUrl}}" class="img-responsive"></a>
                    <h1> {{tempProduct.name}}:  </h1>
                    <div class="price"> {{tempProduct.unitPrice | currency:'USD'}}</div>
                    <button (click)="addToChart(tempProduct)" class="btn btn-primary btn-sm">Add to chart</button>
                   </div> 
                </div>          
             </div>
             <div *ngIf="products?.length==0" class="alert alert-warning col-md-12" role="alert">No Products Found , try again </div>
            
             <!-- Pagination-->
             <div class="footer-pagination">
                 <div class="row">
                     <div class="col-md-6"></div>
                     <div class="col-md-6">
                         <div class="row">
                             <div class="col-md-9" style="padding-left: 30%;">
                                <ngb-pagination [(page)]="page"
                                                [pageSize]="size"
                                                [collectionSize]="totalElements"
                                                (pageChange)="listProducts()"
                                                [maxSize]="5"
                                                [boundaryLinks]="true"
                                >
                                    
                                </ngb-pagination>
                             </div>
                             <div class="col-md-3 mt-2" style="text-align: right;"> 
                            <span class="mr-2"> page size</span>
                            <select (change)="updatePageSize($any($event.target).value)">
                               <option value="2">2</option> 
                               <option selected="true" value="5">5</option>
                               <option value="10">10</option>
                               <option value="15">15</option>
                               <option value="20">20</option>
                            </select>
                        </div>
                         </div>
                     </div>
                 </div>
             </div>
             <!-- Pagination-->
        </div>
    </div>
</div>